{% extends "_base.html" %}
{% block content %}

<div id="content-wrapper" class="d-flex flex-column">

	<!-- Main Content -->
	<div id="content" class="main_content">

	
		<div class="row">
			<div id="h_calc" class="col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-body">

							
						<div class="tab">
						  <button class="tablinks active" onclick="window.location.href='/reports/markets'">Stock indices</button>
						  <button class="tablinks" onclick="buld_mosex_sec_agg(event)">Mosex sec agg</button>

						</div>
					<!--<button id="export-csv" onclick="function_export_csv_()" class="btn save_btn"><i class="far fa-file-excel"></i></button>-->	
							<form id="refresh_form" method="post" action="{{ url_for('upload_bp._run_job',params='job_yahoo',redirect_url=request.endpoint)}}">

									<button id="stard_smartlab_job"   
													type="submit"  name="submit_button" value="stard_smartlab_job" class="btn save_btn"><i class="fas fa-sync"></i>
									</button>
							
							<span  class="highlight_{{data.last_updated_date_alert}}">Actual</span > for: {{data.last_updated_date}}  
							</form>
	<div id="header_block">					
<div class="btn-group">
  <button class="tiny_btn" onclick="select_chart_period(this)">1w</button>
  <button class="tiny_btn" onclick="select_chart_period(this)">1m</button>
  <button class="tiny_btn" onclick="select_chart_period(this)">3m</button>
    <button class="tiny_btn" onclick="select_chart_period(this)">6m</button>
  <button class="tiny_btn" onclick="select_chart_period(this)">1y</button>
  <button class="tiny_btn" onclick="select_chart_period(this)">5y</button>
    <button class="tiny_btn" onclick="select_chart_period(this)">x</button>
</div>
	</div>





					<!-- End card-body -->	
					</div>
				<!-- End card-->	
				</div>
			<!-- End c-->		
			</div>
		</div>
		<div class="row" id="main_block">
			<div class="col-lg-6">
				<!-- Circle Buttons -->
				<div id="width_calc"  class="card shadow mb-4">
					<div id="tooltip^GSPC" class="tooltip-wrapper my_pad" data-title="">
						<div id="header^GSPC" class="card-header py-3">
							<h6 id="title^GSPC" class="m-0 font-weight-bold text-primary"></h6>
						</div>
					</div>
				
					
					<div id="first_card_body" class="card-body">
						<div id="id_chart_GSPC"></div>

					</div>
				</div>

				<!-- Brand Buttons -->
				<div class="card shadow mb-4">
					<div id="tooltip^N225" class="tooltip-wrapper my_pad" data-title="">
						<div id="header^N225" class="card-header py-3">
							<h6 id="title^N225" class="m-0 font-weight-bold text-primary"></h6>
						</div>
					</div>					
					<div class="card-body">
					<div id="id_chart_N225"></div>

					</div>
				</div>
								<!-- Brand Buttons -->
				<div class="card shadow mb-4">
					<div id="tooltip^FTSE" class="tooltip-wrapper my_pad" data-title="">
						<div id="header^FTSE" class="card-header py-3">
							<h6 id="title^FTSE" class="m-0 font-weight-bold text-primary"></h6>
						</div>
					</div>					
					<div class="card-body">
						<div id="id_chart_FTSE"></div>

					</div>
				</div>

			</div>

			<div class="col-lg-6">

				<div class="card shadow mb-4">
					<div id="tooltip^DJI" class="tooltip-wrapper my_pad" data-title="">
						<div id="header^DJI" class="card-header py-3">
							<h6 id="title^DJI" class="m-0 font-weight-bold text-primary"></h6>
						</div>
					</div>			
					<div class="card-body">
							<div id="id_chart_DJI"></div>
					</div>
				</div>
				
				<div class="card shadow mb-4">
					<div id="tooltipDAX" class="tooltip-wrapper my_pad" data-title="">
						<div id="headerDAX" class="card-header py-3">
							<h6 id="titleDAX" class="m-0 font-weight-bold text-primary"></h6>
						</div>
					</div>			
					<div class="card-body">
							<div id="id_chartDAX"></div>
					</div>
				</div>
				<div class="card shadow mb-4">
					<div id="tooltip000001.SS" class="tooltip-wrapper my_pad" data-title="">
						<div id="header000001.SS" class="card-header py-3">
							<h6 id="title000001.SS" class="m-0 font-weight-bold text-primary"></h6>
						</div>
					</div>				
					<div class="card-body">
							<div id="id_chart000001_SS"></div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<!-- End of Main Content -->
</div>




{% endblock %}